<mat-card>
  <h1>{{title}}</h1>
  <h2><mat-icon>copyright</mat-icon>&nbsp;Schirra IT</h2>
  <hr>
  <pre>CSS Length Unit: {{cssUnit}}</pre>
</mat-card>

<mat-card [formGroup]="cssUnitForm">
  <mat-card-title>Reactive Forms Approach</mat-card-title>
  <sit-css-length-input formControlName="cssUnit" (formControlState)="updateFormControl('cssUnit',$event)" [min]="10" [max]="50" [slider]="true" ></sit-css-length-input>

  <button mat-button color="primary" (click)="save()" [disabled]="cssUnitForm.invalid">Save (Form valid?: {{cssUnitForm.valid}})&nbsp;
    <mat-icon>save</mat-icon>
    </button>
  </mat-card>
